/* AddToCart.css */

  /* mystuff */
.modalBackground {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center; 
    align-items: center;  
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;   
}

.modalContainer {
    width: 80%;             
    max-width: 900px;        
    max-height: 80vh;
    overflow-y: auto; 
    border-radius: 12px;
    background-color: #FCF0E2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Josefin Sans';

    display: flex;            
    flex-direction: column;   
    padding: 25px;
    justify-content: center;
    align-items: center;
}


.title {
    text-align: center;
    margin-top: 10px;
    font-family: 'Josefin Sans';
    color: black;
    /* font-weight: bold; */
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.body {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;        
    text-align: center; 
}

.address {
    display: grid;
    grid-template-columns: 1fr; 
    width: 100%;                 
    max-width: 600px;             
    /* margin-top: 20px; */
    gap: 20px;                  
    text-align: center;
    font-family: "Hepta Slab-Regular";
}

.neighborhood {
    width: 100%;                
    max-width: 600px;            
    margin-top: 30px;
    text-align: center;
    font-family: "Hepta Slab-Regular";
}

.modalContainer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
                
}

.modalContainer .footer button {
    margin: 10px;
    padding: 10px;
    border:hsl(from color h s l);

    background-color: cornflowerblue;
    color: black;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancelBtn {
    background-color: #ABABAB;
    
}
#cancelBtn:hover {
    background-color: #838383;
}
#saveBtn {
    background-color: #FAC16B;
}
#saveBtn:hover {
    background-color: #d28c4c;
}

.input {
    border-radius: 10px;
    /* margin: 10px; */
    width: 100%;            
    padding: 5px;
}

.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 100%;
    gap: 10px;
}

.halfWidth {
    width: 100%;            
}

.smallText {
    font-size: 14px;
}

/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  .modal-content {
    background-color: #F5EDE0;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-direction: column; /* Arrange content vertically 
    justify-content: space-between; /* Space content evenly 
  }
  
  /* Close button in the top-right corner 
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
   */