.orange-button {
    background-color: #FAC16B; 
    color:#374863;
    font-family: "Josefin Sans";
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .orange-button:hover {
    color:#374863;
    background-color: #e4a74b; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .fixed-width-dropdown {
    width: 10rem;             /* Set a fixed width for the button */
    white-space: nowrap;      /* Prevent text from wrapping */
    overflow: visible;        /* Allow overflow to show the dropdown */
    text-overflow: ellipsis;  /* Adds ellipsis for overflowing text if necessary */
}